<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.cms.dao.CommentMapper">

  
  <insert id="save" parameterType="comment">
    insert into cms_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="content != null">
        content,
      </if>
      <if test="article != null">
        blog_id,
      </if>
      <if test="displayTime != null">
        displayTime,
      </if>
      <if test="user != null">
        user_id,
      </if>
    </trim>
 
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="article != null">
        #{article.id,jdbcType=INTEGER},
      </if>
      <if test="displayTime != null">
        #{displayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="user != null">
        #{user.id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  
  
  <select id="SelectKeyComment" parameterType="java.lang.Integer" resultType="com.lzy.cms.domain.Comment">
  	select c.*,u.username as username from cms_comment c left join cms_user u on c.user_id=u.id where c.blog_id=#{id,jdbcType=INTEGER}

  </select>
  
  
  <select id="commentsUser" parameterType="Integer" resultType="com.lzy.cms.domain.Comment" >
  	select  cc.id,cc.content,cc.displayTime,ca.title,cu.username from  cms_comment cc,cms_user  cu,cms_article ca where cc.blog_id=ca.id and cc.user_id=cu.id 
  	and cc.user_id=#{id,jdbcType=INTEGER}
  </select>
</mapper>