<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:工作空间的名称   名称随意
 -->
<mapper namespace="com.bw.mapper.UserDao">
		
	<insert id="zhuce" parameterType="com.bw.entity.User">
		insert into t_user(uname,password,rolecode) values(#{uname},#{password},#{rolecode})
	</insert>
	
	<select id="login" parameterType="map" resultType="com.bw.entity.User">
		select * from t_user where uname=#{uname} and password=#{password}
	</select>
	
	
	<select id="hxarea1" resultType="com.bw.entity.Area">
		select * from t_area where faid is null
	</select>
	
	<select id="HxShi" parameterType="int" resultType="com.bw.entity.Area">
		select * from t_area where faid=#{0}
	</select>
	
	<select id="HxXian" parameterType="int" resultType="com.bw.entity.Area">
		select * from t_area where faid=#{0}
	</select>
	
	
	
	
	<insert id="addCoures" parameterType="com.bw.entity.Course">
		insert into t_course(cname,content,area1,area2,area3,startdate,enddate,label,path)
				values(#{cname},#{content},#{area1},#{area2},#{area3},#{startdate},#{enddate},#{label},#{path})
	</insert>

	<resultMap type="com.bw.entity.Course" id="coumap">
		<association property="sname" column="area1" javaType="com.bw.entity.Area" select="queryArea"></association>
		<association property="ssname" column="area2" javaType="com.bw.entity.Area" select="queryArea"></association>
		<association property="xname" column="area3" javaType="com.bw.entity.Area" select="queryArea"></association>
	</resultMap>
	
	<select id="courseList" resultMap="coumap" parameterType="map">
		select c.*,u.rolecode,u.uname from t_course c,t_user_course cu,t_user u where c.cid=cu.cid and u.uid=cu.uid 
		<if test="cname !=null and cname !='' ">
			and cname like '%${cname}%'
		</if>
		<if test="label !=null and label !=''">
			and label like '%${label}%'
		</if>
	</select>
	
	<select id="queryArea" resultType="com.bw.entity.Area">
		select * from t_area where aid=#{0}
	</select>
	
	<select id="chakankc" resultType="com.bw.entity.Course" parameterType="int">
		select * from t_course where cid=#{0}
	</select>
	
	<insert id="addCouser" parameterType="map">
		{
			call addCouser(#{cid,mode=IN},#{uid,mode=IN})
		}
	</insert>
	
	
	<delete id="deleteAll" parameterType="map">
		
			delete from t_course where cid=#{cid}
			
	
	</delete>
</mapper>